.disJustT{
    display: flex;
    justify-content: center;
}
.CenT{
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100vw;
}
.emptyFNavT{
  padding: 50px ;
}
.empty50pxT{
  padding: 47px;
}
.empty20pxT{
  padding: 20px;
}
.empty100pxT{
  padding: 100px;
}
/* HomeT */
.containHomeT{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 100vw;
}

/* >HomeT */
/* HomeBottomT */
.BoxT{
    display: flex;
    justify-content: center;
    width: 260px;
    height:130px;
    outline-color: #FF8801;
    outline-style: solid;
    border-radius: 65px 0px 0px 65px;
    cursor: pointer;
    transition: .5s;
}

.TextT{
    max-width: 130px;
    width: 100vw;
    max-height: 130px;
    height:100vh;
    font-size:30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.containerIconT {
  position: relative;
  width: 130px;
  height: 130px;
  outline-style: solid;
  outline-color: #fccc76;
  border-radius: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.IconHomeT {
  display: block;
  width: 50px;
  padding: 40px;
  height: auto;
  transition: .5s;
}
.overlayT {
  z-index:-1;
  position: absolute;
  border-radius: 65px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ;
  background-color: #000;
}
.BoxT:hover{
  border-radius: 65px;
}
.BoxT:hover .overlayT {
  opacity: 1;
}
.BoxT:hover .TextT {
  font-size:35px;
}
.BoxT:hover .IconHomeT {
  width: 80px;
  padding: 40px;
  height: auto;
  transition: .5s;
}

/* >HomeBottomT */
/* storeT */
.MainStoreT{
  max-width: 1200px;
  width: 100vw;
}
.AdvertStoreT{
  max-width: 1200px;
  width: 100vw;
  height: auto;
}
.TextStoreT{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #FF8801;
}
.ProductStoreT{
  max-width: 1180px;
  width: 100vw;
}
/* storeT */
/* StoreBottomT */
.PStoreBT{
  width: auto;
  height: 190px;
}
.BoxIconST{
  position: relative;
  width: 150px;
  height:150px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-image: linear-gradient(135deg,#FF8801,#000, #FF8801) 30;
  border-width: 3px;
  border-style: solid;
  transition: .5s ;
  cursor: pointer;
}
.IconPStoreT{
  width: 100px;
  transition: .5s ;
}
.BoxTextStoreT{
  display:flex;
  justify-content: center;
  align-items: center;
  height:30px;
  font-size: 20px;
  font-weight: bold;
  color: #FF8801;
}
.overlayStoreT {
  z-index:-1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ;
  background-color: #28293D;
}
.BoxIconST:hover .overlayStoreT {
  opacity: 1;
}
.BoxIconST:hover .IconPStoreT {
  width:120px;
}
.BoxIconST:hover{
  border-image: linear-gradient(50deg,#FF8801,#000, #FF8801) 30;
}
.SPCboxStoreT{
  width: 300px;
  height: 500px;
  border-image: linear-gradient(135deg,#FF8801,#000, #FF8801) 30;
  border-width: 3px;
  border-style: solid;
  position:relative;
  background-color: #000;
  cursor: pointer;
}
.ImgPositionStoreT{
  display:flex;
  justify-content: center;
  width:100%;
}
.ImgPCStoreT{
  max-width: 250px;
  height: auto;
  padding: 10px;
  transition: .5s;
}
.SPCboxStoreT:hover .ImgPCStoreT{
  max-width: 300px;
}
.TextSPCStoreT{
  display: flex;
  justify-content: center;
  height: 250px;
  width: 100%;
  position: absolute;
  bottom:0;
}
.TextSPCStoreT div div{
  font-size:20px;
  color: #FF8801;
  display:flex;
  justify-content:center;
}

.BottomSPCStoreT{
  border-style: ridge;
  border: 3px ridge #FF8801;
  transition: .5s;
}
.SPCboxStoreT:hover .BottomSPCStoreT{
  border-style: ridge;
  background-color: #282931  ;
}
.posterStoreT{
  max-width: 1200px;
  width: 100vw;
  height: auto;
}
/* test */
.ImgTestT{
  width:200px;
  height: auto;
}
#NavBarT{
    overflow: hidden;
    padding: 15px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    
}
#NavBarT .nav {
  float: left;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
#NavBarT .nav .textT{
  color: #fff;
}
.NavColorT{
  background-color:#FF8801;
  padding: 1px;
}
/* ul{
  background-color:#FF8801;
  margin: 0;
  overflow: hidden;
}
li{
  float: left;
  display: block;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;
  
}
li:hover{
  background-color: aqua;
} */

/* cause */
.CauseT{
  max-width: 1200px;
  width: 100vw;
}
.causeMainT{
  height: 200px;
  max-width:360px;
  width: 100vw;
  display: flex;
  justify-content:space-between;
  background-color: #555870;
  border-radius: 5px; 
  border-image: linear-gradient(135deg,#FF8801,#000, #FF8801) 30;
  border-width: 3px;
  border-style: solid;
  overflow: hidden;
}
.causeMainT div{
  width:180px;
  overflow: hidden;
}
.causeMainT .dataT{
  height: 130px;
  padding:10px;
}
.causeMainT .btT{
  height: 50px;
  display: flex;
  justify-content:center;
  align-items:center;
}
.ImgcauseT{
  height: 200px;
  width: auto;
}
.butCauseT{
  border: 1px solid #FF8801;
  border-radius: 5px;
  background-color:#282931;
  font-family: 'Noto Sans Lao';
  color:#FF8801;
  font-size: 14px;
  transition: 0.5s;
}
.butCauseT:hover{
  font-size: 16px;
}
